<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/FE/customer/css/admin.css">
    <link rel="stylesheet" href="/FE/customer/css/addproduct.css">
    <link rel="stylesheet" href="/FE/customer/css/products.css">
</head>
<body>
    <div class="dashboard">
        <!-- Sidebar -->
        <aside class="sidebar">
            <h3>Menu</h3>
            <ul>
                <li onclick="showContent('overview')">Tổng quan</li>
                <li onclick="showContent('orders')">Đơn hàng</li>
                <li>
                    <span onclick="toggleSubMenu(event, 'productsMenu')">Sản phẩm</span>
                    <ul class="submenu" id="productsMenu">
                        <li onclick="showContent('createPr')">Tạo sản phẩm</li>
                        <li onclick="showContent('')">Xóa sản phẩm</li>
                    </ul>
                </li>
                <li onclick="showContent('customers')">Khách hàng</li>
                <li onclick="showContent('reports')">Báo cáo</li>
                <li class="log-out"><a href="/FE/customer/index.html">Đăng xuất</a></li>
            </ul>
        </aside>

        <!-- Main Content -->
        <main class="main-content">
            <div id="overview" class="content">
                <h2>Tổng quan</h2>
               
            </div>
            <div id="orders" class="content" style="display: none;">
                <h2>Đơn hàng</h2>         
            </div>
            
            <div id="createPr" class="content" style="display: none;">
                <iframe class="addproduct" src="/FE/customer/views/addproduct.html" frameborder="0"></iframe>
            </div>
            <div id="delPr" class="content" style="display: none;">
                <section class="products-title">
                    <iframe src="/FE/customer/views/deleteProduct.html" frameborder="0" scrolling="no"></iframe>
                </section>
            
                <section class="products-grid" id="productGrid">
                    <!-- Các sản phẩm sẽ được hiển thị tại đây -->
                </section>
            </div>
            
            <div id="customers" class="content" style="display: none;">
                <h2>Khách hàng</h2>
           
            </div>
            <div id="reports" class="content" style="display: none;">
                <h2>Báo cáo</h2>
         
            </div>
        </main>
    </div>
    <script src="/FE/customer/js/admin.js"></script>
    <script src="/FE/customer/js/addproduct.js"></script>
    <script src="/FE/customer/js/deleteProduct.js"></script>
</body>
</html>
